<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<div   class="container mt-4">


<table class="table">
<thead>
<tr>
<th>IDEMPRESA</th>
<th>RUC</th>
<th>RAZONSOCIAL</th>
<th>DIRECCION</th>
<th>ESTADO</th>
</tr>
</thead>
<tbody>
<tr th:each="empresa1:${empresas}">
<td th:text=" ${empresa1.idempresa}"></td>
<td th:text=" ${empresa1.ruc}"></td>
<td th:text=" ${empresa1.razonSocial}"></td>
<td th:text=" ${empresa1.direccion}"></td>
<td th:text=" ${empresa1.estado}"></td>
<td>
<a class="btn btn-warning">Editar</a>
<a class="btn btn-danger">Eliminar</a>
</tr>
</tbody>
</table>
</div>
</body>
</html>